<div class="table">
  <div class="table__container">
    <div class="table__col-1 col-1">
      <h4>Nombre de la empresa</h4>
      <h4>Total de ventas</h4>
      <h4>Comision</h4>
      <h4>Detalle</h4>
    </div>
    <div
      class="table__col-1"
      *ngFor="let business of businessData | order: 'name'"
      (click)="businessDetail(business.id)"
    >
      <p class="table__col-1--name">{{ business.name }}</p>
      <p>{{ business.data.length | number }}</p>
      <p>{{ business.total * 0.025 | number }}</p>
      <a class="table__col-1--detail" (click)="businessDetail(business.id)"
        >Ver detalle</a
      >
    </div>
  </div>
</div>
